@import '../variables';

.sidebar {
    width: 283px;
    height: 100vh;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: white;
    font-family: $sans;
    z-index: 29;
    transition: transform 0.3s ease-in-out;

    &Content {
        padding-top: 139px;
        width: 100%;
    }

    &SwitchOrg {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 30px;
        margin-bottom: 42px;
        height: 19px;

        p {
            font-weight: normal;
            font-size: 16px;
            color: $secondary-color;
        }
    }

    &Section {
        margin-bottom: 30px;

        &Title {
            color: $pale-secondary-color;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 10px;
            padding-left: 30px;
            font-family: $sans;
        }
    }

    &Footer {
        width: 100%;
        padding-top: 10px;
        cursor: pointer;

        &Version {
            display: flex;
            align-items: center;
            font-size: 12px;
            gap: 10px;
            padding-left: 30px;
            margin-bottom: 42px;
            height: 19px;
        }
    }

    &LogoutButton {
        background-color: transparent;
        color: $error-color;
        font-family: $sans;
        font-weight: 500;
        font-size: 14px;
        height: 40px;
        border-color: $error-color;
        border-width: 1px;
    }

    @media (max-width: $mobile-breakpoint) {
        transform: translateX(-100%);
        width: 80%;
        max-width: 300px;

        &.open {
            transform: translateX(0);
        }
    }
}

.mobileMenuButton {
    display: none;
    position: fixed;
    top: 105px;
    left: 10px;
    top: 70px;
    z-index: 1000;
    background: none;
    border: none;
    cursor: pointer;
    width:max-content;

    @media (max-width: $mobile-breakpoint) {
        display: block;
    }
    .sidebar.open & {
        left: 300;
    }
}

.backdrop {
    display: none;

    @media (max-width: $mobile-breakpoint) {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 28;
    }

}