@import '../variables';

.usersPage {
    min-height: 100vh;
    width: 100%;
    font-family: $sans;

    &Title {
        color: $secondary-color;
        font-size: 24px;
        font-weight: 500;
    }

    &MetricsGrid {
        width: 100%;
        display: grid;
        margin-block: 40px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 25px;

        @media (max-width: $mobile-breakpoint) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 20px;
        }
    }

    &UsersTableContainer {
        box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    }

    &LoadingContainer {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.loadingContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}