// Colors
$primary-color: #39CDCC;
$secondary-color: #213F7D;
$pale-secondary-color: #545F7D;
$success-color: #39CD62;
$warning-color: #E9B200;
$error-color: #E4033B;
$info-color: #0EA5E9;
$pale-grey: #E5E5E5;
$accent-pink: #DF18FF;
$accent-purple: #5718FF;
$accent-orange: #F55F44;
$accent-red: #FF3366;

// Fonts
$sans: var(--font-work-sans), sans-serif;
$avenir: var(--font-avenir-next), sans-serif;
$sf-compact: var(--font-sf-compact), sans-serif;
$roboto: var(--font-roboto), sans-serif;


// Breakpoints
$mobile-breakpoint: 768px;